@charset "utf-8";
/* CSS Document */

p:nth-child(1) {
	padding-top: 0px;
	margin-top: 0px;
}

p:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

h1:nth-child(1) {
	padding-top: 0px;
	margin-top: 0px;
}

h1:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

